@use "../abstracts/" as *;

.carousel {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  gap: 0.5rem;
  /*   scroll-snap-type: x proximity; */
  /*   scroll-behavior: smooth; */
  overflow: hidden;

  .carousel-item {
    text-align: center;
    scroll-snap-align: center;
  }
}
